# Struktur Data Python

Konsep struktur data merupakan fundamental yang sangat basic untuk mempelajari sebuah bahasa pemrograman. Dalam pemakaiannya akan digunakan untuk melihat hasil apakah hasil operasi `variabel1` dengan `variabel2` menghasilkan tipe data yang sama atau tidak. Sehingga harus dipahami bahwa terminologi dalam struktur data dengan benar.

<div align='center'>

![Python-data-structure.jpg]()

</div>

# Numeric

## Integer

In [1]:
# Integer
a = 10 

print(a,'Tipe datanya adalah: ',type(a))

10 Tipe datanya adalah:  <class 'int'>

## Float

In [2]:
# Float
b = 3.14 

print(b,'Tipe datanya adalah: ',type(b))

3.14 Tipe datanya adalah:  <class 'float'>

## Complex Number

In [5]:
# Complex
c = 10+1j

print(c,'Tipe datanya adalah: ',type(c))

(10+1j) Tipe datanya adalah:  <class 'complex'>

**Latihan Soal**

1. Buatlah perkalian antara angka `3` dan `6`

2. Diketahui kode berikut.

In [ ]:
a=3
b=1.0

tentukan hasil perkalian variabel tersebut, dan ketahui tipe datanya.

3. Diketahui kode berikut.

In [1]:
c=3
d=3+1j

tentukan hasil perkalian variabel tersebut, dan ketahui tipe datanya.

# Dictionary

In [ ]:
dict1={'nama':'Indra Cahya Ramdani',
       'nim':'1800015053',
       'asal':'Ciamis',
       'Jurusan':'Matematika'}

print(dict1)

In [ ]:
dict1['nama']

In [ ]:
dict1['asal']

In [ ]:
dict1['nama']='Kamandanu'

print(dict1)

In [ ]:
dict1['nim'] = '2000016066'

print(dict1)

**Latihan Soal**

1. Diberikan dictionary sebagai berikut.

In [ ]:
dict1={
    
       1 : {'nama':'Indra Cahya Ramdani','nrp': 6002222004,'asal': 'Ciamis'},
       2 : {'nama':'Indah Erlina','nrp': 6002222003,'asal': 'Lampung'}
       
       }

buatlah kode untuk mengakses dictionary sehingga menghasilkan output sebagai berikut`{'nama':'Indra Cahya Ramdani',
        'nrp': 6002222004
        'asal': 'Ciamis'}`

2. Dengan dictionary yang sama maka akses data sehingga menghasilkan `'Indra Cahya Ramdani'`

# Boolean

In [6]:
#Boolean

d= True

print(d,'Tipe datanya adalah: ',type(d))

True Tipe datanya adalah:  <class 'bool'>

# Set

Set merupakan salah-satu tipe data dalam pemrograman dengan tipe data kolektif atau dapat digunakan untuk menyimpan banyak nilai dalam satu variael.

Ada beberapa hal yang harus diperhatikan dalam membuat tipe data ini diantaranya adalah

1. Nilai yang disimpan unik(jika terdapat nilai yang sama atau duplikat tetap dihitung satu). Jika nilai yang diinputkan ada yang sama maka setelah dimasukan tetap dihitung sebagai satu nilai.
2. Nilai yang disimpan tidak bisa diubah atau not mutable.
3. Bersifat unordered atau tidak berurut sehingga tidak bisa diakses dengan index

**Panduan membuat sebuah set**
Untuk membuat set perintah yang digunakan menggunakan `{}` kurung kurawal.

```python
#membuat set disimpan ke : set1
set1={nilai1,nilai2,nilai3}
```

Sebagai contoh kita akan membuat beberapa set:
1. `set1` berisi nilai : 1,2,3,4
2. `set2` berisi nilai : 1,1,2,3,3,4,4
3. `set3` berisi nilai : 'Aku', 'Bahagia',2,1

In [ ]:
# Nomer 1
set1={1,2,3,4}
print(set1)

{1, 2, 3, 4}

In [ ]:
# Nomer 2
set2={1,1,2,3,3,4}
print(set2)

{1, 2, 3, 4}

In [ ]:
# Nomer 3
set3={'Aku','Bahagia',2,1}
print(set3)

{1, 'Bahagia', 2, 'Aku'}

In [ ]:
print(type(set1))

Sepert yang sudah dijelaskan diatas bahwa list unordered atau tidak berurut dan tidak memiliki indeks sehingga tidak bisa mengambil suatu nilai yang ada didalam set. Sebagai contoh kita akan mengambil nilai 1 dalam `set1` maka perintah yang digunakan sebagai berikut

In [ ]:
print(set1[0])

TypeError: ignored

Karena set tidak memiliki index sehingga set juga tidak bisa diubah nilai dalam sebuah set. Sebagai contoh kita akan mengubah nilai 1 di `set1` menjadi 10.

In [ ]:
set1[0]=10

TypeError: ignored

Dengan ini terbukti bahwa set tidak bisa di ganti nilai dalamnya.

Jika dalam data `list` nilai dalamnya dapat menyimpan list lain. Selanjutnya, akan dicoba apakah set dapat menyimpan nilai dalam berupa set.

In [ ]:
set4 ={1,2,3,{2,3,4}}
print(set4)

TypeError: ignored

Dengan merujuk pada `error` diatas maka telah di buktikan bahwa set tidak dapat menyimpan nilai dalam yang berupa set juga. Selanjutnya kita akan mencoba membuat `set5` : 1,2,3,4,5 setelah itu akan di tambahkan : 6. Jika sudah ditambahkan maka selanjutnya tambahkan : 7,8. 


*Jelasin fungsi* `add()`,`update()


Oke let's code

In [ ]:
set5 ={1,2,3,4,5}
print(set5)

{1, 2, 3, 4, 5}

Saatnya menambahkan single value yaitu : 6

In [ ]:
print('set5 sebelum ditambahkan nilai: ',set5)

#tambahkan nilai 6
set5.add(6)

print('set5 sesudah ditambahkan nilai: ',set5)

set5 sebelum ditambahkan nilai:  {1, 2, 3, 4, 5}
set5 sesudah ditambahkan nilai:  {1, 2, 3, 4, 5, 6}

Menambahkan multiple value : 7,8

In [ ]:
print('set5 sebelum ditambahkan nilai: ',set5)

#tambahkan nilai 7,8
set5.update({7,8})

print('set5 sesudah ditambahkan nilai: ',set5)

set5 sebelum ditambahkan nilai:  {1, 2, 3, 4, 5, 6}
set5 sesudah ditambahkan nilai:  {1, 2, 3, 4, 5, 6, 7, 8}

## Penggunaan set

Sudah jelas bahwa set merupakan data kolektif

In [ ]:
set6={1,2,3,'aku','dia'}

for i in set6:
  print(i)

1
2
3
aku
dia

## Latihan `Set`

# Sequence Type

## String

String merupakan tipe data sequence. String adalah berisikan karakter untuk mendefinisikan string dapat menggunakan tanda `'' (petik satu)` atau `"" (petik dua)`. Mari lihat kode di bawah ini.

In [2]:
# String

e = 'aku'

print(e,'Tipe datanya adalah: ',type(e))

aku Tipe datanya adalah:  <class 'str'>

Untuk membuktikan bahwa string adalah tipe data sequence (memiliki indeks) maka akan diberlakukan kode sebagai berikut.

In [3]:
e[0]

'a'

In [4]:
e[1]

'k'

Akan tetapi string itu tidak support dengan mengganti elemen didalamnya, hanya bisa untuk melakukan pengambilan data saja.

In [5]:
e[0]='u'

TypeError: 'str' object does not support item assignment

Karena string merupakan tipe data squence oleh karena itu dapat di aplikasikan pada perulangan for.

In [6]:
for i in e:
    print(i)

a
k
u

## Tuple

Tuple merupakan tipe data kolektif di python. Pada dasarnya Tuple merupakan tipe data yang hampir sama seperti set. Namun beberapa perbedaanya adalah sebagai berikut.
1. Cara membuat tuple dengan menggunakan tanda `()`
2. Tuple memiliki indeks
3. Tuple tidak mutable (nilai dalamnya tidak dapat diganti)
4. Nilai dalamnya dapat memiliki elemen yang sama dan di definisikan sesuatu yang beda dengan indeks yang berbeda juga.

Untuk melihat lebih jelas mari kita coba lihat kode di bawah ini.

In [ ]:
# nomer 1 & nomer 4

tuple1=(1,2,3,4,5,1,2,3,'aku','dia')

print(tuple1)

(1, 2, 3, 4, 5, 1, 2, 3, 'aku', 'dia')

In [ ]:
print(type(tuple1))

<class 'tuple'>

Setelah dicek benar bahwa tipe data kolektif tersebut adalah tuple yang didefinisikan menggunakan tanda `()`. Dapat dilihat bahwa tuple dapat memuat elemen dalam yang sama sehingga ditunjukan terdapat elemen `1` yang berulang pada urutan ke 0 dan ke 5.

untuk melihat urutanya dapat mengikuti ilustrasi berikut.

<div align='center'>

|tuple1 | 1 | 2| 3| 4 | 5| 1| 2| 3| 'aku'| 'dia'|
|-|-|-|-|-|-|-|-|-|-|-|
|indeks  |  0 | 1 | 2|  3 | 4|  5 | 6 | 7 |  8 |     9|

</div>

sehingga kita akan mencoba untuk membuktika pernyataan dua bahwa tuple memiliki indeks dengan kode berikut.

In [ ]:
# nomer 2
tuple1[0]

1

In [ ]:
tuple1[2]

3

Dari hasil kode di atas menunjukan bahwa tuple memiliki index sehingga dapat dilakukan sebuah nilai didalam tuple itu sendiri. 

Selanjutnya, akan ditunjukan apakah tuple dapat merubah elemen yang ada didalam tuple itu sendiri atau tidak.

In [ ]:
# nomer 3

tuple1[0]='satu'

print(tuple1)

TypeError: ignored

Dengan ditunjukan dari hasil `error` tersebut bahwa tuple tidak dapat mengganti nilai didalamnya.

**Penggunaan Tuple**

Selain set tuple juga dapat digunakan dalam perulangan for.

In [ ]:
tup1=(1,2,3,4,'aku','kamu')

for i in tup1:
  print(i)

**Latihan soal Tuple**

1. Diketahui sebuah tuple sebagai berikut.

In [ ]:
tuples1 = (1,2,3,3,(3,2,(3,2,3)))

ambilah elemen dalam `(3,2,(3,2,3))`

2. Selanjutnya dari data yang sama ambil juga elemen dalam `(3,2,3)`

3. Ambil tuple dari nomer 2 hanya elemen dalam `2`

## List

List merupakan tipe data kolektif di python. List merupakan tipe data kolektif yang paling sering digunakan. Beberpa hal yang harus diperhatikan untuk tipe data ini sebagai berikut.

1. Mendefinisikan tipe data ini menggunakan tanda `[]`
2. Tipe data ini memiliki indeks
3. Dapat diganti elemenya atau Mutable
4. Isi elemen dalamnya dapat sama.

In [ ]:
# Nomer 1
list1 = [1,2,3,'aku','dia',1,2,3]

print(list1)

[1, 2, 3, 'aku', 'dia', 1, 2, 3]

In [ ]:
print(type(list1))

<class 'list'>

Dapat dilihat bahwa pendefinisian variabel menggunakan tanda `[]` merupakan tipe data kolektif list. Selanjutnya, sama halnya dengan tuple list juga memiliki indeks. mari kita coba sebagai berikut.

In [ ]:
# Nomer 2
list1[0]

1

Dijelaskan bahwa list merupakan tipe data kolektif yang mutable sehingga elemen dalamnya dapat di ubah. Mari kita coba sebagai berikut.

In [ ]:
# Nomer 3
print('Sebelum nilai elemen diubah:',list1)
list1[0]='satu'

print('Sesudah nilai elemen diubah:',list1)

Sebelum nilai elemen diubah: ['satu', 2, 3, 'aku', 'dia', 1, 2, 3]
Sesudah nilai elemen diubah: ['satu', 2, 3, 'aku', 'dia', 1, 2, 3]

In [ ]:
print('Sebelum nilai elemen diubah:',list1)
list1[1]='dua'

print('Sesudah nilai elemen diubah:',list1)

Sebelum nilai elemen diubah: ['satu', 2, 3, 'aku', 'dia', 1, 2, 3]
Sesudah nilai elemen diubah: ['satu', 'dua', 3, 'aku', 'dia', 1, 2, 3]

**Penggunaan List**

Selain set dan tuple, list merupakan tipe data kolektif yang sering digunakan dalam perulangan for ini.

In [ ]:
lis1=[1,2,3,'aku','kamu']

for i in lis1:
  print(lis1)

**Latihan Soal List**

1. Jika diberikan sebuah list berikut.

In [ ]:
lists1=[1,2,3,['aku','dia',3,4]]
print(lists1)

bagaimana jika ingin mengambil nilai `['aku','dia',3,4]`

In [ ]:
# nomer 1

2. tuliskan code jika ingin mengambil nilai `'aku'`

In [ ]:
# nomer 2

3. tuliskan code jika ingin mengambil nilai `'aku','dia'`

In [ ]:
# nomer 3

4. Misalkan ada sebuah list sebagai berikut

In [ ]:
lists2=[1,2,3,['aku','dia',3,[50,23]]]

ambil nilai `[50,23]`

5. buat code yang dapat mengambil niali `23`

## Array

Array merupakan data kolektif dan penting dalam bahasa pemrograman python. Karakteristik dari array dan list hampir sama, dapat diorder(memiliki indeks) setiap elemenya, mutable(elemen dalamnya dapat diganti), dapat menambahkan atau menghapus elemen dalam array. Akan tetapi mereka bukan sesuatu yang sama. Perbedaan yang sangat signifikan adalah array hanya dapat menimpan satu tipe data yang sama. Jika isinya integer maka integer semua. Mari kita rangkum point pada array.

1. Mendefinisikan dengan mengimport library `numpy` dan menggunakan method `np.array([#isi array])`
2. Memiliki indeks
3. Elemen dalamnya dapat diganti (Mutable)
4. Isi elemen dalam dapat sama tapi dalam satu tipe data yang sama.

In [ ]:
import numpy as np

In [ ]:
array1=np.array([1,2,3,1,2,3])
array1

array([1, 2, 3, 1, 2, 3])

In [ ]:
array1[0]

1

In [ ]:
array1[2]

3

In [ ]:
print(array1)

array1[2]=2

print(array1)

[1 2 3 1 2 3]
[1 2 2 1 2 3]

# **Referensi**

1. https://www.jagongoding.com/python/dasar/set/ 
2. https://www.geeksforgeeks.org/tuples-in-python/
3. https://www.freecodecamp.org/news/python-array-tutorial-define-index-methods/